.footer-bottom-container{
  @media screen and (min-width: 1450px){
    width: 70%;
    margin: 10px auto;
  }
  .footer-bottom{
    @media screen and (min-width: 1450px){
      margin: 10px auto;
      hr{
        margin: 0 auto !important;
      }
    }
    @media screen and (max-width:600px){
      margin: 15px !important;
      grid-template-columns: unset !important;
      font-size: 0.82rem;
    }
    color: #616161;
    font-size: .75rem;
    margin: 10px 77px 10px 85px;
    display: grid;
    @media screen and (min-width: 1450px){
      grid-template-columns: 80% 20%;
    }
    grid-template-columns: 60% 40%;
    .footer-bottom-text{
      @media screen and (max-width:600px){
        display: block;
      }
      display: inline;
    }
    .left-footer{
      @media screen and (min-width: 1450px){
        margin-right: 0;
      }
      margin-right: 200px;
      display: grid;
      white-space: nowrap;
      grid-template-columns: 30% 45% 30%;
      div{
        text-align: center;
      }
    }
  }
}
.footer-bottom-divider{
  width: 103%;
}