.features-container{
    @media screen and (min-width:1450px){
        margin: 0 auto 60px auto;
        width: 70%;
    }
    margin: 0 105px 60px 105px;
    @media screen and (max-width: 600px){
        margin: 15px 0;
        padding: 0 15px;
    }
    display: flex;
    flex-direction: row;
    .feature-item{
        display: grid;
        grid-template-columns: 25% 65%;
        @media screen and (max-width: 600px){
            margin: 0 -10px;
            &:nth-child(3){
                display: none;
            }
        }
        .feature-icon{
            font-size: 40px;
            img{
                width: 32px;
                height: 32px;
                margin: 0 10px;
                @media screen and (max-width: 600px){
                    margin: 0 145%;
                }
            }
        }
        .feature-text{
            text-align: center;
            .feature-title{
                margin-bottom: 7px;
                color: #616161;
                font-size: 13px;
                @media screen and (max-width: 600px) {
                    font-size: 12px;
                    margin-top: 45px;
                }
            }
            .feature-info{
                color: #666;
                font-size: 12px;
                @media screen and (max-width: 600px) {
                    display: none;
                }
            }
        }
    }
}