.position{
            position: absolute;
            top: -7px;
}
.advices-container{
    margin-top: 50px;
    div{
        color: #616161;
        text-align: center;
    }
    .advice-pic{
        img{
            margin-bottom: 25px;
        }
    }
    .advices-input-container{
        position: relative;
        .advice-icon{
            @media screen and (max-width:600px){
                right: 30px;
            }
            right: 41.5%;
            @extend .position;
        }
        .advice-text{
            @media screen and (max-width:600px){
                left: 35px;
            }
            @extend .position;
            left: 41.5%;
            font-size: .75rem;
        }
        .advices-input-items{
            margin: 15px;
            &:last-child{
                color: #436fbe;
            }
            .advice-input{
                @media screen and (max-width:600px){
                    display: inline-block;
                    width: 250px;
                }
                font-family: 'goldtagFont';
                padding: 7px;
                border-radius: .25rem;
                border: 1px solid rgba(0,0,0,.1);
                width: 17%;
            }
        }
    }
}