.sharing-container{
  display: grid;
  margin: 30px 0;
  grid-template-columns: 60% 40%;
  div{
    font-size: .75rem;
    color: #888;
  }
  .social-media-icon{
    color: #616161;
    margin: 5px;
    &:hover{
      color: #436fbe;
    }
  }
}