.star-container{
  @media screen and (max-width:600px){
    margin:5px 20px;
  }
  margin-top: 5px;
  display: grid;
  grid-template-columns: 68% 32%;
  grid-gap: 10px;
  .submit-btn{
    background-color: #be9243;
    color: white;
    padding: .5em;
    font-size: .75em;
    text-align: center;
    border-radius: 4px;
    font-family: goldtagFont;
  }
  .stars{
    color: #888;
  }
  svg{
    color: #f9a825;
  }
}