.side-section-container,.mainsection-container {
  h3{
    padding: 10px 2px 5px 0;
    color: black !important;
    font-size: 1.125rem;
    font-weight: 700;
    svg{
      color: #be9243;
    }
  }
  .property-container{
    @media screen and (max-width: 600px){
      height: 350px;
    }
    height: 230px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    li{
      width: 44%;
    }
  }
  ul {
    width: 85%;
    margin: 10px 0;
    .colored{
      color: red;
    }
    li {
      font-size: .85rem;
      margin-bottom: .5em;
      color: #75787b;
      &::before {
        content: "\2022";
        color: #bc4141;
        display: inline-block;
        width: 1em;
      }
    }
  }
}