.comments-container{
    .clicked{
        @extend .tabs;
            border: 1px solid #dee2e6;
            border-bottom: none;
            color: #436fbe;
            border-radius: .25rem .25rem 0 0;
            background-color: white;
    }
    .unClicked{
        @extend .tabs;
        border: none;
    }
    .customer-opinion-container{
        .rate-container{
            margin-top: 25px;
            background-color: rgba(209,236,241,.5);
            border-right: 4px solid #5dbecd;
            padding: .65rem;
            border-radius: 4px;
            @media screen and (max-width: 600px){
                padding: .2rem;
                margin: 15px;
            }
            h3{
                font-size: 1.25rem;
                color: #17a2b8 !important;
            }
            p{
                font-size: .9rem;
                margin-bottom: 1em;
                color: #444;
            }
        }
    }
    .tabs{
        cursor: pointer;
        padding:10px 15px 12px 15px !important;
        &:hover{
            @extend .clicked;
        }
    }
    hr{
        margin: 10px 0;
        width: 100%;
    }
    img{
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        display: inline-block;
    }
}