.label-info-container{
  display: grid;
  grid-template-columns: 182px 182px;
  grid-gap: 15px;
  .label-info{
    text-align: center;
    padding: 1rem .75rem;
    background-color: #fff;
    line-height: .75rem;
    border-radius: 4px;
    font-size: .75rem;
    color: #616161;
    .info{
      font-size: 1rem;
    }
    &:first-child{
      border: 1px solid #be9243;
      .info{
        color: #be9243;
      }
    }
    &:last-child{
      border: 1px solid #007aff;
      .info{
        color: #007aff;;
      }
    }
  }
}