@import './detail';
.main-card-container{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
}
.soldout-block{
    @media screen and (max-width:600px){
        display: none;
    }
    img{
        width: 120px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
    }
    position: relative;
    display: block;
}
.soldout-none{
    display: none;
}
.car-icon{
    float:left;
    margin: -17px 15px;
}
