@media screen and (max-width:600px){
    .advices-container{
        .advices-input-container{
            .advice-icon{
                     right: 30px;
                    }
                    .advice-text{
                     left: 35px;
                    }
            .advices-input-items{
                .advice-input{
                    display: inline-block;
                    width: 250px;
                }
            }
        }
    }
}