.category-container{
    margin-top: 80px;
    h3{
        text-align: center;
    }
    .category-item-container{
        @media screen and (min-width:1450px){
            margin: 20px 25% 30px 25%;
            width: 65%;
        }
        width: 100%;
        margin: 20px 120px 30px 93px;
        display: grid;
        grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5%;
        img{
            transition: all .2s;
            &:hover{
                opacity: .75;
            }
        }
    }
}