.header{
    hr{
        width: 100%;
        margin: 0 !important;
    }
    .header-top-container{
        @media screen and (min-width:1450px){
            width: 65%;
            grid-template-columns: 60% 40%;
        }
        margin: 0 auto 0 auto;
        height: 80px;
        display: grid;
        grid-template-columns: 50% 50%;
        .search-container{
            margin: 20px 95px 0px auto;
            .basket{
                margin-left: 25px;
                font-family: goldtagFont !important;
                transition: all .2s;
                padding: 6px 14px;
                border: 1px solid #be9243;
                border-radius: 4px;
                background-color: white;
                &:hover{
                    background-color: #f1e1c6;
                }
            }
            .search-box{
                position: relative;
                display: inline-block;
                .search-input{
                    font-family: goldtagFont !important;
                    padding: 7px;
                    border-radius: .25rem;
                    border: 1px solid rgba(0,0,0,.1);
                    width: 410px;
                }
                .search-btn{
                    left: 15px;
                    transform: translateY(35%);
                    position: absolute;
                    font-family: goldtagFont !important;
                    color: #436fbe !important;
                }
            }
        }
        .location-container{
            margin: 20px 280px 0px 0;
            .goldtagIcon{
                margin-top:-9px;
                width: 185px;
                height: 48px;
            }
            .location-btn{
                margin-left: 25px;
                font-family: goldtagFont !important;
                vertical-align: top;
                background-color: hsla(0,0%,91%,.5);
                width: 100px;
                height: 35px;
                text-align: right;
                font-size: .95rem;
                padding: .25rem .75rem;
                border-radius: 4px;
            }
        }
    }
}