@font-face {
  font-family:"goldtagFont";
  src: url("../fonts/iranyekan/ttf/iranyekanwebregularfanum.ttf") format('truetype'),
  url("../fonts/iranyekan/woff/iranyekanwebregularfanum.woff") format('woff');
}
html{
  font-family: goldtagFont !important;
  *{
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
  }
}
body{
  .app{
    //height: 500px;
  }
  hr{
    width: 100%;
    background-color: rgba(146, 146, 146, 0.075);
    border: 1px solid rgba(146, 146, 146, 0.075);
  }
  .icon{
    color: #616161;
    margin:0 5px 0 5px;
  }
  button {
    background-color: white;
    color: #616161;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}