.side-section-container,.mainsection-container {
    @media screen and (min-width:1450px){
        width: 52%;
        hr{
            width: 380px;
        }
    }
    h3{
        padding: 10px;
        color: black !important;
        font-size: 1.125rem;
        font-weight: 700;
        svg{
            color: #be9243;
        }
    }
    hr{
        width: 63%;
    }
    ul {
        width: 63%;
        margin: 10px 0;
        .colored{
            color: red;
        }
        li {
            font-size: .85rem;
            margin-bottom: .5em;
            color: #75787b;
            &::before {
                content: "\2022";
                color: #bc4141;
                display: inline-block;
                width: 1em;
            }
        }
    }
    .map-img{
        margin: 10px;
    }
    .address-phone{
        color: #75787b;
        width: 63%;
        font-size: .85rem;
        margin: 10px;
        svg{
            color: #436fbe;
        }
    }
    .item-tags-container{
        display: flex;
        flex-direction: row;
        margin: 8px 0;
        .tag-btn{
            font-size: .85em;
            color: #777;
            background-color: #f0f0f0;
            border-radius: 4px;
            padding: .3em .9em;
            margin: 0 0 .5em .5em;
        }
    }
}