.social-container{
    @media screen and (max-width:600px){
        display: none;
    }

    @media screen and (min-width:1450px){
        margin: 30px 25% 20px 25%;
    }
    .social-item{
        &:hover{
            opacity: .75;
        }
        transition: all .2s;
        display: grid;
        grid-template-columns: 70% 30%;
        border-radius: 3px;
        height: 90px;
        width: 300px;
        .social-icon{
            text-align: center;
        }
        .social-text{
            line-height: 1.5rem;
            margin: 16px 16px;
            .social-title{
                white-space: nowrap;
                font-size: .85rem;
                color: #666;
            }
            .social-subtitle{
                font-size: 1rem;
                color: #999;
            }
        }
    }
    .telegram{
        border: .25rem solid#61c5dc;
    }
    .goldtag{
        border: .25rem solid #cdab68;
    }
    .instagram{
        border: .25rem solid #f17768;
    }
    .charity{
        border: .25rem solid #ee8f8f;
    }
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin : 30px 5% 20px 5%;
    
}