@supports (position: sticky) {
  .header-top-container-sticky{
    @media only screen and (max-width: 600px) {
      position: sticky;
      top: 0;
      left: 0;
      padding: 0 10px;
      background-color: white;
      width: 100%;
      height: 45px !important;
      margin-bottom: 12px;
      display: flex !important;
      justify-content: space-between !important;
      .icon{
        margin-top: 24px;
      }
      img{
        width: 35%;
        margin-top: 13px;
      }
      .basket-container{
        position: relative;
        .item-numbers{
          position: absolute;
          top: 20px;
          left:18px;
          text-align: center;
          vertical-align: text-top;
          width: 15px;
          height: 15px;
          font-size: 9px;
          background-color: #bc4141;
          border-radius: 50%;
        }
      }
    }
  }
}