.detail-container {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-gap: 40px;
  width: 82%;
  margin: 10px 5%;
  @media screen and (max-width: 600px) {
    display: unset;
    width: 100%;
    margin: 10px auto;
    .product-charity {
      margin: 5px 10px
    }
    .price-container-btn, .available-btn {
      width: 93% !important;
      margin: 5px 10px !important;
    }
    .label-info-container {
      .label-info {
        line-height: 15px;
      }
      margin: 3px 10px;
      grid-template-columns: 47.9% 47.9%!important;
      grid-gap: 10px !important;
    }
    .sharing-container {
      background: #f3f3f3;
      padding: 1rem;
      border-radius: .25rem;
      text-align: center;
      height: 90px;
      width: 94%;
      margin: 5px 10px 20px 10px !important;
      display: flex !important;
      flex-direction: column;
      div {
        margin: 5px 0;
      }
    }
    .description {
      margin: 5px 10px;
      p {
        color: #75787b;
        font-size: .9rem;
      }
    }
    .side-section-container {
      ul {
        //width: 90% !important;
        margin-right: 15px;
      }
    }
    .map-img {
      margin: 0 !important;
    }
  }
}
