.title-section{
    @media screen and (min-width:1450px){
        width: 83%;
        hr{
           margin: unset !important;
        }
    }
    margin-top: 25px;
    .title{
        @media screen and (max-width:600px){
            margin:0 20px;
        }
        font-size: 1.75rem;
    }
    .subtitle{
        @media screen and (max-width:600px){
            margin:0 20px;
        }
        color: #616161;
        margin: .25em 0 1em;
        font-size: 1rem;
        font-weight: 300;
    }
    .shopping-icon{
        margin: 10px;
    }
    .available-btn{
        width: 379px;
        font-family: goldtagFont;
        border-radius: .25rem;
        font-size: .825rem;
        padding: .7rem 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: #bc4141;
        text-align: center;
        background-color: #fff;
        border: 1px solid #dab1b1;
        cursor: pointer;
        transition: all .25s;
        &:hover{
            background-color: #f8ebeb;
            border-color: #af4e4e;
        }
    }
    .product-charity{
        margin-top: .9rem;
        margin-bottom: 1.5rem;
        color: #888;
        font-size: .75rem;
    }
}